
    <div class="mini-menu">
      <ul>
        <% @themes.each do |theme| %>
          <% if theme['parent_id'] == 0 %>
            <li class="sub">
              <a href="/gallery/<%=theme['theme_link']%>"><%=theme['theme_name']%></a>
                <ul>
                  <% @themes.each do |subtheme| %>
                    <% if subtheme['parent_id'] == theme['id'] %>
                      <li>
                        <a href="/gallery/<%=subtheme['theme_link']%>"><%=subtheme['theme_name']%></a>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
            </li>
        <% end %>
      <% end %>
      </ul>
    </div>




    <script type="text/javascript">
    $(document).ready(function () {
      $('.sub > a').click(function(){
        clicked = $(this);
        $('.sub ul').each(function() {
          if (!($(this).is(clicked.closest("ul")))) {
            $(this).slideUp();
          }
        });

        if ($(this).next().is(":visible")){
          $(this).next().slideUp();
        } else {
          $(this).next().slideToggle();
        }
        return false;
      });

      $('.mini-menu > ul > li > a').click(function(){
        $('.mini-menu > ul > li > a, .sub a').removeClass('active');
        $(this).addClass('active');
      });

      $('.sub ul li a').click(function(){
        $('.sub ul li a').removeClass('active');
        $(this).addClass('active');
      });
    });
    </script>


    <script>
        $(function () {
            $(".tiles").tilesGallery({
                height: 800,
                margin: 4,
                enableTwitter: true,
                enableFacebook: true,
                enableGplus: true,
                enablePinterest: true
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#lightgallery").lightGallery();
        });
    </script>

    <script>
      function sendAjaxRequest(el) {
        $.ajax({
          url: el.attr("href") + "?ajax=1",
          success: function(res) {
            $("#ajaxresult").html(res);
            window.history.pushState(res, "", el.attr("href"));
          }
        });

        return false;
      }

      $(document).ready(function() {
        $('.sub > a').click(function(){
          sendAjaxRequest($(this));
        });
      });
    </script>
