
<div id="lightgallery">

<% @photos.each do |pic|%>
  <% if @counter % 10 == 1 and @photos.length - @counter > 4 %>
    <div id="counter-<%=@counter%>" class="ptiles" <% if @counter != 1 %> style="display:none;"<% end %>>
      <div class="items">
  <% end %>

    <div class="item" data-src="/<%=pic['pic_link']%>"> <!-- fullsize -->
      <img class="pic" src="/<%=pic['pic_link']%>"> <!-- thumb -->
    </div>

  <% if @counter % 10 == 0 and @photos.length - @counter > 5 %>
      </div>

      <a href="#" onclick="return showPage(this, <%=@counter%>);">next</a>

    </div>
  <% end %>

  <% @counter += 1 %>
<% end %>
</div>


  <script>
    $(function() {
      /*
      $("#counter-1").find(".pic").each(function() {
        $(this).attr("src", $(this).data("src"));
      });
      */
      $("#counter-1").tilesGallery({
          height: 800,
          margin: 3,
          enableTwitter: false,
          enableFacebook: false,
          enableGplus: false,
          enablePinterest: false
      });

      $("#lightgallery").lightGallery({
        selector: '.ptiles > .items > .item'
      });
    });

    function showPage(el, image_num) {
      //$(el).parent().hide();
      $(el).hide();
      /*
      $(el).parent().next().find(".pic").each(function() {
        $(this).attr("src", $(this).data("src"));
      });
      */
      $(el).parent().next().show();

      $(el).parent().next().find(".items").css("margin-left", -134);
      $(el).parent().next().first().tilesGallery({
          height: 1600,
          width: 1200,

          margin: 3,

          enableTwitter: false,
          enableFacebook: false,
          enableGplus: false,
          enablePinterest: false
      });

      return false;
    }
  </script>
