
<div id="lightgallery">

<% @photos.each do |pic|%>
  <% if @counter % 20 == 1 and @photos.length - @counter > 9 %>
    <div id="counter-<%=@counter%>" class="ptiles" <% if @counter != 1 %> style="display:none;"<% end %>>
      <div class="items">
  <% end %>

    <div class="item" data-src="/<%=pic['pic_link']%>"> <!-- fullsize -->
      <img class="pic" src="/<%=pic['pic_link']%>"> <!-- thumb -->
    </div>

  <% if @counter % 20 == 0 and @photos.length - @counter > 10 %>
      </div>

      <div class="btn-more"><a href="#" onclick="return showPage(this, <%=@counter%>);">more</a></div>

    </div>
  <% end %>

  <% @counter += 1 %>
<% end %>
</div>


  <script>
    $(function() {
      /*
      $("#counter-1").find(".pic").each(function() {
        $(this).attr("src", $(this).data("src"));
      });
      */
      $("#counter-1").tilesGallery({
          height: 1600,
          margin: 3,
          enableTwitter: false,
          enableFacebook: false,
          enableGplus: false,
          enablePinterest: false
      });

      $("#lightgallery").lightGallery({
        selector: '.ptiles > .items > .item'
      });
    });

    function showPage(el, image_num) {
      //$(el).parent().hide();
      $(el).hide();
      /*
      $(el).parent().next().find(".pic").each(function() {
        $(this).attr("src", $(this).data("src"));
      });
      */
      current_page = $(el).parent().parent();
      next_page = current_page.next();

      next_page.show();

      next_page.find(".items").css("margin-left", -134);
      next_page.first().tilesGallery({
          height: 2000,
          width: 1200,

          margin: 3,

          enableTwitter: false,
          enableFacebook: false,
          enableGplus: false,
          enablePinterest: false
      });

      return false;
    }
  </script>
