about me

<% @tags.each do |tag|%>
  <a href="#">#<%= tag['tag_name']%> *** </a>
<% end %>




<div id="ajaxresult"><div class="tiles">
  <div id="lightgallery" class="items">
    <% @pho_tags.each do |pho| %>
    <a href="/<%=pho['pic_link']%>">
      <div id="lightgallery" class="item">
        <img class="pic" src="/<%=pho['pic_link']%>">
      </div>
    </a>
    <% end %>
  </div>
</div></div>
