<div id="gallery">
  <div class="about-me">
  <div class="about-me-text">
    <p>Приветствую в моей онлайн-галерее! Этот сайт - итог моего десятилетнего увлечения фотографией, а так же результат двухмесячного ruby-марафона.</p>

    <p>О фототехнике : canon (350d, 60d, 6d, 17-85, 50/1.4, 85/1.2), sigma (28-105/2.8, 12-24/4.5-5.6), m-42 (зенитар 50мм, индустар 61л, гелиос 44м и волна-9) и крошка sony nex-6/16-50, которая всегда со мной.</p>

    <p>О фотопристрастиях: люблю снимать экспромтом, предпочтения в жанрах периодически меняются, с энтузиазмом участвую в творческих проектах, не люблю снимать за деньги. Тфп с интересными идеями категорически приветствуется. Связаться со мной можно с помощью кнопок в правом верхнем углу.</p>

    <p>О сайте: Это мой первый проект, нарисованный и написанный самостоятельно с нуля, но не полностью: динамическую загрузку, правку коряво прикрученных моими неопытными рученками сторонних плагинов, особо вредные участки верстки и еще некоторые мелочи делал мой Никитушка. Спасибо, котик :-*</p>
  </div>
</div>
</div>
<div id="moar"></div>
<script></script>
