<div class="tiles">
  <div id="lightgallery" class="items">
    <% @faces.each do |pic| %>
    <a href="<%=pic['pic_link']%>">
      <div id="lightgallery" class="item">
        <img class="pic" src="<%=pic['pic_link']%>">
      </div>
    </a>
    <% end %>
  </div>
</div>



<script>
    $(function () {
        $(".tiles").tilesGallery({
            height: 800,
            margin: 4,
            enableTwitter: true,
            enableFacebook: true,
            enableGplus: true,
            enablePinterest: true
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery();
    });
</script>
