
<div id="ajaxresult"><div class="tiles">
  <div id="lightgallery" class="items">
    <% @photos.each do |pic| %>
    <a href="/<%=pic['pic_link']%>">
      <div id="lightgallery" class="item">
        <img class="pic" src="/<%=pic['pic_link']%>">
      </div>
    </a>
    <% end %>
  </div>
</div></div>
