<div id="ajaxresult"><div class="tiles">
  <div id="lightgallery" class="items">
    <% @main.each do |pic| %>
    <a href="<%=pic['pic_link']%>">
      <div id="lightgallery" class="item">
        <img class="pic" src="<%=pic['pic_link']%>">
      </div>
    </a>
    <% end %>
  </div>
</div></div>
</div>

<script type="text/javascript">
$(document).ready(function () {
  $('.sub > a').click(function(){
    clicked = $(this);
    $('.sub ul').each(function() {
      if (!($(this).is(clicked.closest("ul")))) {
        $(this).slideUp();
      }
    });

    if ($(this).next().is(":visible")){
      $(this).next().slideUp();
    } else {
      $(this).next().slideToggle();
    }
    return false;
  });

  $('.mini-menu > ul > li > a').click(function(){
    $('.mini-menu > ul > li > a, .sub a').removeClass('active');
    $(this).addClass('active');
  });

  $('.sub ul li a').click(function(){
    $('.sub ul li a').removeClass('active');
    $(this).addClass('active');
  });
});
</script>


<script>
    $(function () {
        $(".tiles").tilesGallery({
            height: 800,
            margin: 4,
            enableTwitter: true,
            enableFacebook: true,
            enableGplus: true,
            enablePinterest: true
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery();
    });
</script>

<script>
  function sendAjaxRequest(el) {
    $.ajax({
      url: el.attr("href") + "?ajax=1",
      success: function(res) {
        $("#ajaxresult").html(res);
        window.history.pushState(res, "", el.attr("href"));
      }
    });

    return false;
  }

  $(document).ready(function() {
    $('.sub > a').click(function(){
      sendAjaxRequest($(this));
    });
  });
</script>
