<div id="gallery">
  <div class="tiles"><div class="items">
  <% @photos.each do |photo|%>
    <div class="item">
      <a href="/content/<%= photo.photo_link %>"><img class="pic" src="/content/<%= photo.photo_link %>"></a>
    </div>
  <% end %>
  </div></div>
</div>
<div id="moar">
</div>
<script>
  lg_all_photos = [
    <% @photos.each_with_index do |photo, index| %>
      {
        'src': '/content/<%= photo.photo_link %>',
        'thumb': '/content/<%= photo.photo_link %>'
      }<% if index+1 < @photos.length %>,<% end %>
    <% end %>
  ];
</script>
