body{ font-family: 'Raleway', sans-serif; }

.page{  max-width: 1200px;
        margin-left: auto;
        margin-right: auto; }

h1{ font-size: 46px;
    font-weight: 200;
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 8px; }

.h4{  font-size: 24px;
      font-weight: 300;
      margin-left: 15px;
      margin-top: 0;  }

.header{  background-image: url(img/test_header_pic.png);
          max-width: 1200px;
          height: 107px;
          margin-top: 10px;
          margin-bottom: 3px; }

.header-f{ float: left;  }

.sidebar{ position: relative;
          margin-top: 0;
          margin-left: 0;
          margin-right: 0;
          width: 150px;
          height: 800px;
          float: left;
          background-image: url(img/test_sidebar_pic.png)   }

.sidebar-themes{  font-size: 20px;
                  line-height: 100%;
                  padding-left: 0;  }

.sidebar-tags{  padding: 0;
                margin-left: 15px;
                margin-top: 20px;
                margin-right: 15px;
                font-size: 13px;
                line-height: 180%;
                list-style: none; }

.sidebar-texts{ padding-left: 0;
                margin-left: 20px;  }

.content{ margin-left: 154px;
          color: black; }

.header a,
.header a:hover,
.sidebar a,
.sidebar a:hover{ color: white;
                  text-decoration: none;  }

.buttons{   float: right;
            margin-right: 20px;
            margin-top: 28px; }

.buttons a,
.buttons a:hover{color:  rgba(255, 255, 255, 0.7);}

.btn-12{   display: block; }

.btn-34{  display: block;
          margin-top: 11px; }

.btn{   display: inline;
        border-style: solid;
        border-width: 1px;
        padding-top: 2px;
        padding-bottom: 3px;
        border-color: rgba(255, 255, 255, 0.7); }

.btn-gt{  padding-left: 4px;
          padding-right: 4px; }

.btn-in{  padding-left: 4px;
          padding-right: 4px; }

.btn-vk{  padding-left: 3px;
          padding-right: 3px; }

.btn-fb{  padding-left: 6px;
          padding-right: 7px; }

.mini-menu {  margin: 0 auto;
              max-width: 220px;
              overflow: hidden; }

.mini-menu ul { margin: 0;
                padding:0;
                list-style: none; }

.mini-menu > ul > li {  position: relative; }

.mini-menu > ul > li > a {  display: block;
                            padding: .7em 1em;
                            outline: 0;
                            text-decoration: none;
                            font-weight: normal;  }

.mini-menu > ul > li > a:hover,
.mini-menu > ul > li > a.active { color: green;  }

.mini-menu .sub  ul { display: none;
                      overflow: hidden; }

.mini-menu .sub ul li a { display: block;
                          padding: .7em 1em;
                          color: blue;
                          font-size: 12px;
                          text-decoration: none;  }

.mini-menu .sub ul li a:hover,
.mini-menu .sub ul li a.active {  padding-left: 1.3em;
                                  color: red; }

.mini-menu .sub ul li a:after{ float: left;
                                margin-right:6px;
                                line-height: 12px;  }

.mini-menu .sub > a:before {  height:12px;
                              width:12px;
                              font-size: 1em;
                              display:inline-block;
                              position: absolute;
                              right: 10px;
                              top: 12px;
                              line-height: .8em;
                              color: red;
                              text-indent: 0;
                              text-align: center;
                              text-shadow:none;
                              font-weight: 500;}
